@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
body {
  height: 100vh;
  width: 100%;
  background-color: #35dad2;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Merriweather;
  font-size: 16px;
}
.waka {
  display: flex;
  width: 100%;
  justify-content: center;
}
